<div class="container mt-4">
  <h1>Likes</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Usuario</th>
        <th>Id - Publicación</th>
        <th class="text-end">Acción</th>
      </tr>
    </thead>
    <tbody>
      <% @likes.each do |like| %>
        <tr>
          <td><%= like.user.username if like.user %></td>
          <td><%= "#{like.publication.id} - Publicación de #{like.publication.user.username}" if like.publication %></td>
          <td class="text-end">
            <%= link_to "Ver", like_path(like), class: "btn btn-primary btn-sm" %>

            <% if can?(:destroy, like) %>
              <%= button_to 'Eliminar', like_path(like), method: :delete, data: { confirm: '¿Seguro que desea eliminar este like?' }, class: "btn btn-danger btn-sm" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
