<div class="container mt-4">
<h1>Usuarios</h1>
<br>



<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombres</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Sex</th>
      <th scope="col">Imagen</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each_with_index do |user,index| %>
  <%= render partial: 'user', locals: {user:user, index:index } %>
    <% end %>
  </tbody>
</table>
</div>