<div class="container mt-4">
<br>
<br>
<br>
<br>
<div class="card text-bg-light mb-3 mx-auto" style="max-width: 18rem;">
  <div class="card-header">Informacion</div>
  <div class="card-body">
    <p class="card-text">

  <p><strong>Usuario:</strong> <%= @follower.user.username if @follower.user %></p>
  <p><strong>Sigue a:</strong> <%= @follower.followed_user.username if @follower.followed_user %></p>
  <p><strong>Fecha de seguimiento</strong> <%= @follower.date_followers %></p>


  <%= link_to "Volver", followers_path, class: "btn btn-secondary mt-3" %>
</div>
</div>
</div>